{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
     <h6 class="m-0 font-weight-bold text-primary">{{ titulo }}</h6>
    <p>¿Estás seguro de que deseas eliminar  <strong>{{ object.nombre }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancelar</button>

    </form>
</div>
{% endblock %}
