{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'lib/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/custom.css' %}">

<div class="form-container">
    {{ titulo}}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
                {% if formset %}
            <h3>Productos</h3>
            {{ formset.management_form }}
            {% for f in formset %}
                <div class="producto-form">
                    {{ f.as_p }}
                </div>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    <div class="back-link">
        <a href="{% url 'apl:usuario_list' %}">← Volver</a>
    </div>
</div>
{% endblock %}
