{% extends 'layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<div class="form-container">
    <h1>🍽️ Formulario de Mensaje</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Pedido</button>
    </form>
    <div class="back-link">
        <a href="{% url 'apl:usuario_list' %}">← Volver al Menú</a>
    </div>
</div>
{% endblock %}
