{% extends "home.html" %}

{% load static %}

{% block body %}

<body id="page-top">

    {% include "header.html" %}

    <div>
        {% block tablas %}
        <!-- This is where the content from prueba.html will be injected -->
        {% endblock %}

    </div>

    <footer>
        {% include "footer.html" %}
    </footer>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'lib/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'lib/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'lib/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'lib/vendor/chart.js/Chart.min.js' %}"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static 'lib/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'lib/js/demo/chart-pie-demo.js' %}"></script>

</body>

{% endblock %}