# Entorno virtual
.venv/
venv/

# Base de datos SQLite
db.sqlite3

# Archivos compilados
__pycache__/
*.pyc

# Configuración del editor
.vscode/

# Archivos temporales y del sistema
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
